option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 5000
  # Use Launch Template instead of deprecated Launch Configuration
  # Using t3.micro because t2.micro not available in free tier anymore
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
